.singlegroupmain {
    display: flex;
    margin-top: 9px;
    padding-top: 33px;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-top: 2px outset gray;
    margin-bottom: 10px;
}

.groupnav {
    font-size: 16px;
    color: teal;
    text-decoration: underline;
    padding: 10px;
    display: flex;
    align-self: start;
}

.groupsum {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.imgholder {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    min-width: 59%;
    max-width: 59%;
    min-height: 100%
}

.imgholder img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}

.groupov {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 99%;
    max-height: 500px;
    border: 4px solid black;
    background-color: white;
}

.groupdt {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 20px;
    min-width: 38%;
    max-width: 38%;
}

.greymep {
    color: #524b4b;
    padding-right: 10px;
}

.boldmep {
    font-weight: bolder;
    color: #524b4b;
    padding-right: 10px;
}


.groupbutton {
    display: flex;
    padding: 10px;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: red;
    color: white;
    font-family: 'Tilt Neon', serif;
    font-weight: bolder;
    font-size: 18px;
    box-shadow: 5px 5px black;
}

.gobot {
    margin-top: auto;
    margin-bottom: 20px;
}

.gobot2 {
    display: flex;
    margin-top: auto;
    margin-bottom: 20px;
}

.sgowneropt {
    display: flex;
    padding: 10px;
    border: 1px solid black;
    margin: 8px;
    background-color: darkgray;
    color: white;
    font-family: 'Tilt Neon', serif;
    font-weight: bolder;
    font-size: 14px;
    box-shadow: 3px 3px black;
}

.groupname {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    max-height: 25%;
}

.sgowneroptc {
    display: flex;
    padding: 10px;
    border: 1px solid black;
    margin: 8px;
    background-color: red;
    color: white;
    font-family: 'Tilt Neon', serif;
    font-weight: bolder;
    font-size: 14px;
    box-shadow: 3px 3px black;
}

.sgowneroptc:hover {
    background-color: white;
    color: black;
}

.sgowneropt:hover {
    background-color: white;
    color: black;
}

.graysection {
    width: 99%;
    background-color: white;
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid black;
    overflow: hidden;
}

.grayinner {
    width: 80%;
    height: 80%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.grayintro {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.greymeintro {
    color: #524b4b;
    padding-bottom: 20px;
}

.grayabout {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-right: 20px;
    margin-bottom: 20px;
}

.formholder {
    width: 90%;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.groupbuttonns {
    display: flex;
    padding: 10px;
    border: 2px solid black;
    color: white;
    background-color: red;
    font-family: 'Tilt Neon', serif;
    font-weight: bolder;
    font-size: 10px;
}

.pubeveholder {
    display: flex;
    width: 95%;
    max-width: 99%;
    justify-content: flex-start;
}

.eventholder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    max-width: 50%;
    border-radius: 10px;
    background-color: rgb(184, 180, 180);
    border: 2px solid black;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.indiveventholder {
    width: 90%;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.indiveventtop {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 10px;
    height: 48%;
    min-height: 48%;
    max-height: 48%;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}

.indiveventtoprest {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    height: 99%;
    max-height: 99%;
    min-height: 99%;
    padding-left: 10px;
    width: 59%;
    max-width: 59%;
    min-width: 59%;
}

.indiveventtopimgholder {
    height: 99%;
    max-height: 99%;
    min-height: 99%;
    border: 2px solid black;
    width: 41%;
    max-width: 41%;
    min-width: 41%;
    display: flex;
    align-items: center;
    justify-self: center;
}

.indiveventtopimgholder img {
    max-width: 100%;
    max-height: 100%;
}

.indiveventholder {
    height: 99%;
    max-height: 99%;
    min-height: 99%;
    padding: 10px;
}

.indiveventholder:hover {
    background-color: white;
    border: 3px solid black;
    cursor: grab;
}

.topresttitle {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    max-height: 40%;
}

.indiveventbot {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 10px;
    font-weight: bold;
    height: 48%;
    min-height: 48%;
    max-height: 48%;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}

.megabold {
    font-weight: bolder;
}