.greeting {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 7px;
    padding-top: 35px;
    border-top: 2px outset gray;
}

.bannerImage {
    max-height: 350px;
    width: 550px;
}

.greeting > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px;
    width: 550px;
    height: 350px;
}

.louder {
    font-size: 45px;
    font-weight: bold;
}

.loud {
    font-size: 20px;
}