@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

.JMholder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: 'Tilt Neon', serif;
    font-size: 18px;
    font-weight: bolder;
}

.jmbutton {
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    background-color: teal;
    color: white;
    font-family: 'Tilt Neon', serif;
    font-weight: bolder;
    font-size: 18px;
}

.jmbutton:hover {
    border: 2px solid black;
    background-color: darkgray;
    cursor: pointer;
}
