.hidden {
    display: none
}

.topnavbar {
    display: flex;
    height: 30px;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 10px;
    width: 100%;
}

.logoimg {
    padding-top: 2px;
}

.ddbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-left: 20px;
    padding-right: 20px;
}

.custombutton {
    max-width: 50px;
    max-height: 30px;
}

.profile-dropdown > span {
    padding-left: 20px;
    padding-right: 20px;
}

.nl {
    border-left: 0.5px outset gray;
}

.nb {
    border-left: 0.5px outset gray;
    border-right: 0.5px outset gray;
}

.nr {
    border-right: 0.5px outset gray;
}

.ddbarspan2:hover {
    font-weight: bolder;
    background-color: snow;
}

.ddbarbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border-collapse: separate; 
}